<ion-content [fullscreen]="true" class="camera-preview-container">
  <div id="container">
    <ion-button size="small" (click)="start()">Start Preview</ion-button>
    <ion-button size="small" (click)="stop()">Stop Preview</ion-button>
    <ion-button size="small" (click)="flip()">Flip Camera</ion-button>
    <ion-button size="small" (click)="capture()"> Capture </ion-button>
    <ion-button size="small" (click)="captureSample()">
      Capture Sample
    </ion-button>
    <ion-button size="small" (click)="getSupportedFlashModes()">
      Get Supported Flash Modes
    </ion-button>
    <ion-button color="warning" size="small" (click)="setFlashMode()">
      Set Flash Mode
    </ion-button>
    <ion-button color="danger" size="small" (click)="startRecordVideo()">
      Start Record Video (Android only)
    </ion-button>
    <ion-button color="danger" size="small" (click)="stopRecordVideo()">
      Stop Record Video (Android only)
    </ion-button>
    <ion-button color="danger" size="small" (click)="setOpacity()">
      Set Opacity (Android only)
    </ion-button>

    <hr />
  </div>
</ion-content>
